<launch>
  <arg name="rviz" default="true" />
  <arg name="camera" default="camera" />
  <arg name="num_worker_threads" default="4" />
  
  <arg name="depth_ir"      default="0" />
  <arg name="depth_range"   default="0" />
  <arg name="threshold"     default="0" />
  <arg name="nr_filter"     default="0" />
  <arg name="pulse_count"   default="2000" />
  <arg name="ld_enable"     default="15" />
  <arg name="ir_gain"       default="1024" />
  <arg name="error_stop"    default="0" />
  
  <node name="map_to_camera" pkg="tf" type="static_transform_publisher"
	args="0 0 1.0 1.57 0 -1.57 map camera 100"/>

  <!-- TOF camera launch -->
  <include file="$(find cis_camera)/launch/tof.launch" >
    <arg name="depth_ir"    value="$(arg depth_ir)" />
    <arg name="depth_range" value="$(arg depth_range)" />
    <arg name="threshold"   value="$(arg threshold)" />
    <arg name="nr_filter"   value="$(arg nr_filter)" />
    <arg name="pulse_count" value="$(arg pulse_count)" />
    <arg name="ld_enable"   value="$(arg ld_enable)" />
    <arg name="ir_gain"     value="$(arg ir_gain)" />
    <arg name="error_stop"  value="$(arg error_stop)" />
  </include>

  <!-- rviz -->
  <node if="$(arg rviz)"
        name="rviz" pkg="rviz" type="rviz"
	args="-d $(find cis_camera)/launch/pointcloud.rviz"/>
  
  <group ns="$(arg camera)">
    <arg name="manager" value="$(arg camera)_nodelet_manager"/>
    <arg name="debug" default="false" /> <!-- Run manager in GDB? -->
    
    <include file="$(find rgbd_launch)/launch/includes/manager.launch.xml">
      <arg name="name"                value="$(arg manager)" />
      <arg name="debug"               value="$(arg debug)" />
      <arg name="num_worker_threads"  value="$(arg num_worker_threads)" />
    </include>
    
    <include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
      <arg name="manager" value="$(arg manager)" />
      <arg name="respawn" value="false" />
      <arg name="rgb_processing" value="false" />
      <arg name="ir_processing" value="false" />
      <arg name="depth_processing" value="true" />
      <arg name="depth_registered_processing" value="false" />
      <arg name="disparity_processing" value="false" />
      <arg name="disparity_registered_processing" value="false" />
      <arg name="hw_registered_processing" value="false" />
      <arg name="sw_registered_processing" value="false" />
    </include>
  </group>
</launch>
